---
http_interactions:
- request:
    method: get
    uri: http://www.ctabustracker.com/bustime/api/v1/getpredictions?dir=Northbound&key=YOUR_CTA_API_KEY&rt=147&stpid=1125
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n\r\n\t\t<bustime-response>\t\r\n\t\t\t\r\n\t\t\t\t<prd>\r\n\t\t\t\t\t<tmstmp>20131019
        22:23</tmstmp>\r\n\t\t\t\t\t<typ>A</typ>\r\n\t\t\t\t\t<stpnm>Michigan &amp;
        Huron</stpnm>\r\n\t\t\t\t\t<stpid>1125</stpid>\r\n\t\t\t\t\t<vid>4173</vid>\r\n\t\t\t\t\t\r\n\t\t\t\t\t
        \t\t\t\t\t\r\n\t\t\t\t\t<dstp>3893</dstp>\r\n\t\t\t\t\t<rt>147</rt>\r\n\t\t\t\t\t<rtdir>Northbound</rtdir>\r\n\t\t
        \       \t<des>Howard Station</des>\r\n\t\t        \t<prdtm>20131019 22:32</prdtm>\r\n\t\t
        \       \t\r\n\t\t\t\t</prd>\t\t\t\r\n\t\t\t\r\n\t\t\t\t<prd>\r\n\t\t\t\t\t<tmstmp>20131019
        22:23</tmstmp>\r\n\t\t\t\t\t<typ>A</typ>\r\n\t\t\t\t\t<stpnm>Michigan &amp;
        Huron</stpnm>\r\n\t\t\t\t\t<stpid>1125</stpid>\r\n\t\t\t\t\t<vid>4123</vid>\r\n\t\t\t\t\t\r\n\t\t\t\t\t
        \t\t\t\t\t\r\n\t\t\t\t\t<dstp>9313</dstp>\r\n\t\t\t\t\t<rt>147</rt>\r\n\t\t\t\t\t<rtdir>Northbound</rtdir>\r\n\t\t
        \       \t<des>Howard Station</des>\r\n\t\t        \t<prdtm>20131019 22:40</prdtm>\r\n\t\t
        \       \t\r\n\t\t\t\t</prd>\t\t\t\r\n\t\t\t\r\n\t\t\t\t<prd>\r\n\t\t\t\t\t<tmstmp>20131019
        22:23</tmstmp>\r\n\t\t\t\t\t<typ>A</typ>\r\n\t\t\t\t\t<stpnm>Michigan &amp;
        Huron</stpnm>\r\n\t\t\t\t\t<stpid>1125</stpid>\r\n\t\t\t\t\t<vid>4168</vid>\r\n\t\t\t\t\t\r\n\t\t\t\t\t
        \t\t\t\t\t\r\n\t\t\t\t\t<dstp>15037</dstp>\r\n\t\t\t\t\t<rt>147</rt>\r\n\t\t\t\t\t<rtdir>Northbound</rtdir>\r\n\t\t
        \       \t<des>Howard Station</des>\r\n\t\t        \t<prdtm>20131019 22:49</prdtm>\r\n\t\t
        \       \t\r\n\t\t\t\t</prd>\t\t\t\r\n\r\n\t\t</bustime-response>\r\n\r\n\t\t\r\n"
  recorded_at: Sun, 20 Oct 2013 03:23:57 GMT
recorded_with: VCR 2.4.0
