<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Choose a Direction</li>
</ol>

<ul class="list-group">
  <% @busdirections.each do |l| %>
    <li class="list-group-item">
      <%= link_to l['dir'], busstops_path( params[:id], params[:rtnm], l['dir'] ) %>
    </li>
  <% end %>
</ul>
