<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Choose a Direction</li>
</ol>

<h2>Choose Direction</h2>

<ul>
  <% @busdirections.each do |l| %>
    <li>
      <%= link_to l['dir'], busstops_path( params[:id], params[:rtnm], l['dir'] ) %>
    </li>
  <% end %>
</ul>
