<h2>Choose a route</h2>

<div class="allroutes">
  <ul>
    <% @busroutes.each do |l| %>
      <li> <%= link_to l['rt'] + ' ' + l['rtnm'], busdirections_path(l['rt'], l['rtnm']) %> </li>
    <% end %>
  </ul>
</div>
