<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Choose a Direction", busdirections_path( params[:id], params[:rtnm] ) %></li>
  <li class="active">Choose a Stop</li>
</ol>

<h2>Choose a stop</h2>

<ul>

  <% @busstops.each do |l| %>

    <li>
      <%= link_to l['stpnm'], buspredictions_path( params[:id], params[:rtnm], params[:dir], l['stpid'], l['stpnm'] ) %>
    </li>

  <% end %>
</ul>
