---
http_interactions:
- request:
    method: get
    uri: http://www.ctabustracker.com/bustime/api/v1/getroutes?key=YOUR_CTA_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n\r\n\t\t<bustime-response>\t\r\n\r\n\t\t\t<route>\r\n\t\t\t\t<rt>1</rt>\r\n\t\t\t\t<rtnm>Bronzeville/Union
        Station</rtnm>\r\n\t\t\t</route>\t\t\r\n\r\n\t\t\t<route>\r\n\t\t\t\t<rt>2</rt>\r\n\t\t\t\t<rtnm>Hyde
        Park Express</rtnm>\r\n\t\t\t</route>\t\t\r\n\r\n\t\t\t<route>\r\n\t\t\t\t<rt>3</rt>\r\n\t\t\t\t<rtnm>King
        Drive</rtnm>\r\n\t\t\t</route>\t\t\r\n\r\n\t\t\t<route>\r\n\t\t\t\t<rt>4</rt>\r\n\t\t\t\t<rtnm>Cottage
        Grove</rtnm>\r\n\t\t\t</route>\t\t\r\n\r\n\t\t\t<route>\r\n\t\t\t\t<rt>5</rt>\r\n\t\t\t\t<rtnm>South
        Shore Night Bus</rtnm>\r\n\t\[...]
- request:
    method: get
    uri: http://www.ctabustracker.com/bustime/api/v1/getdirections?key=YOUR_CTA_API_KEY&rt=147
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n\r\n\t\t<bustime-response>\r\n\t\t\t\t\r\n\t\t\t<dir>Northbound</dir>\r\n\t\t\t\t\r\n\t\t\t<dir>Southbound</dir>\r\n\r\n\t\t</bustime-response>\r\n\r\n\t\t\r\n"
  recorded_at: Wed, 23 Oct 2013 02:47:00 GMT
recorded_with: VCR 2.4.0
