---
http_interactions:
- request:
    method: get
    uri: http://www.ctabustracker.com/bustime/api/v1/getstops?dir=Northbound&key=YOUR_CTA_API_KEY&rt=147
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\"?>\r\n\r\n\t\t<bustime-response>\r\n\t\t\t\t\r\n\t\t\t<stop>\r\n\t\t\t<stpid>4725</stpid>\r\n\t\t\t<stpnm>Congress
        &amp; Michigan</stpnm>\r\n\t\t\t<lat>41.875820216955</lat>\r\n\t\t\t<lon>-87.624002695084</lon>\r\n\t\t\t</stop>\r\n\t\t\t\t\r\n\t\t\t<stop>\r\n\t\t\t<stpid>1111</stpid>\r\n\t\t\t<stpnm>Congress
        &amp; Wabash</stpnm>\r\n\t\t\t<lat>41.875764296593</lat>\r\n\t\t\t<lon>-87.62581050396</lon>\r\n\t\t\t</stop>\r\n\t\t\t\t\r\n\t\t\t<stop>\r\n\t\t\t<stpid>74</stpid>\r\n\t\t\t<stpnm>Congress
        Plaza &amp; Michigan</stpnm>\r\n\t\t\t<lat>41.87486956415</lat>\r\n\t\t\t<lon>-87.623605728149</lon>\r\n\t\t\t</stop>\r\n\t\t\t\t\r\n\t\t\t<stop>\r\n\t\t\t<stpid>4847</stpi[...]
