---
http_interactions:
- request:
    method: get
    uri: http://www.ctabustracker.com/bustime/api/v1/getroutes?key=YOUR_CTA_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n\r\n\r\n\r\n\r\n\r\n\r\n<bustime-response>\r\n\r\n\t<route>\r\n\t\t<rt>1</rt>\r\n\t\t<rtnm>Bronzeville/Union
        Station</rtnm>\r\n\t\t<rtclr>#336633</rtclr>\r\n\t</route>\t\t\r\n\r\n\t<route>\r\n\t\t<rt>2</rt>\r\n\t\t<rtnm>Hyde
        Park Express</rtnm>\r\n\t\t<rtclr>#993366</rtclr>\r\n\t</route>\t\t\r\n\r\n\t<route>\r\n\t\t<rt>3</rt>\r\n\t\t<rtnm>King
        Drive</rtnm>\r\n\t\t<rtclr>#009900</rtclr>\r\n\t</route>\t\t\r\n\r\n\t<route>\r\n\t\t<rt>4</rt>\r\n\t\t<rtnm>Cottage
        Grove</rtnm>\r\n\t\t<rtclr>#cc3300</rtclr>\r\n\t</route>\t\t\r\n\r\n\t<route>\r\n\t\t<rt>5</rt>\r\n\t\t<rtnm>South
        Shore Night Bus</rtnm>\r\n\t[...]
- request:
    method: get
    uri: http://www.ctabustracker.com/bustime/api/v1/getpredictions?dir=Westbound&key=YOUR_CTA_API_KEY&rt=66&stpid=596
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\t\t<bustime-response>\t\r\n\t\t\t\r\n\t\t\t\t<prd>\r\n\t\t\t\t\t<tmstmp>20141003
        13:16</tmstmp>\r\n\t\t\t\t\t<typ>A</typ>\r\n\t\t\t\t\t<stpnm>Fairbanks &amp;
        Chicago</stpnm>\r\n\t\t\t\t\t<stpid>596</stpid>\r\n\t\t\t\t\t<vid>4112</vid>\r\n\t\t\t\t\t\r\n\t\t\t\t\t
        \r\n\t\t\t\t\t<dstp>903</dstp>\r\n\t\t\t\t\t<rt>66</rt>\r\n\t\t\t\t\t<rtdir>Westbound</rtdir>\r\n\t
        \       \t\t<des>Austin</des>\r\n\t\t        \t \r\n\t\t        \t<prdtm>20141003
        13:19</prdtm>\r\n\t\t        \t\r\n\t\t        \t<tablockid>SN  -851</tablockid>
        \ \r\n\t\t        \t<tatripid>710</tatripid>    \r\n\t\t        \t<zone></zone>
        \ \r\n\t\t\t\t</prd>\t\t\t\r\n\t\t\t\r\n\t\t\t\t<prd>\r\n\t\t\t\t\t<tmstmp>20141003
        13:16</tmstmp>\r\n\t\t\t\t\t<typ>A</typ>\r\n\t\t\t\t\t<stpnm>Fairbanks &amp;
        Chicago</stpnm>\r\n\t\t\t\t\t<stpid>596</stpid>\r\n\t\t\t\t\t<vid>4135</vid>\r\n\t\t\t\t\t\r\n\t\t\t\t\t
        \r\n\t\t\t\t\t<dstp>4497</dstp>\r\n\t\t\t\t\t<rt>66</rt>\r\n\t\t\t\t\t<rtdir>Westbound</rtdir>\r\n\t
        \       \t\t<des>Austin</des>\r\n\t\t        \t \r\n\t\t        \t<prdtm>20141003
   [...]
[...]
